@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .underline-hover {
        @apply relative mt-1 font-semibold text-black after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-1.5 
               after:bg-secondary  after:transition-all after:duration-500 hover:after:w-full underline-offset-[20px] ;
    }

    .active-link {
        @apply underline underline-offset-8 text-black font-semibold after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-1.5 
               after:bg-secondary  after:transition-all after:duration-500;
    }

    .information-text{
        @apply text-gray-600 font-light text-sm;
    }

    .intormation-title{
        @apply text-base font-semibold;
    }

    .information-title1{
        @apply text-xl font-semibold;
    }

    .footer-link{
        @apply text-sm font-light;
    }

    .section-container{
        @apply px-3 md:px-7 lg:px-14;
    }

    .stepper-Title{
        @apply hidden md:block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-inherit;
    }

    .event-card-title{
        @apply font-medium md:text-lg md:font-semibold;
    }
    
}

/* Cache la scrollbar */
.navscroll::-webkit-scrollbar {
    display: none;
}

.navscroll {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE & Edge */
}

header{
    width: 100vw !important;
}

html {
  scroll-behavior: smooth;
}
